*.gem
gems
.bundle/
/test/package/installed
*.rbc
/.config
/coverage/
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
/log/*.log
.DS_Store
*.sqlite3
.envrc
docker.env
swarm-connect.sh
settings/message_store_postgres.json
settings/twilio_client.json
settings/db.json
